/* Add here all your CSS customizations */
.header-number {
  margin-right: 10px;
}
.header-nav .logo-elite {
    float: none;
    text-align: right;
    margin-bottom: 5px;
}
.fa-cash {
    background: url('../images/fa-cash.png') no-repeat center center;
}

/* Calculadora estilos */
.calculadora-wrapper .apply-form input {
  color: #000 !important;
  font-family: 'ralewaybold';
  margin-bottom: 5px;
}
.calculadora-wrapper label {
  font-family: 'ralewayextrabold';
  color: #000;
  font-size: 15px;
  line-height: inherit;
  margin-bottom: 7px;
}
.calculadora-wrapper .calculadora-right label {
  font-family: 'ralewayregular';
}
.calculadora-wrapper .calculadora-right .apply-form input {
  font-family: inherit;
}
.calculadora-wrapper p {
  font-size: 12px;
  font-family: 'ralewayextrabold';
  color: #000;
}
.calculadora-wrapper > * > * {
  position: relative;
  padding: 0px;
  background: #fff;
  display: table;
  overflow: hidden;
  border-bottom: 4px solid #b83b01;
  height: 440px;
}
.calculadora-left {
  padding-right: 0;
  margin-left: -53px;
}
.calculadora-right {
  padding-left: 0;
}
.calculadora-left > *{
  width: 339px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 11px;
  -moz-border-radius-bottomleft: 11px;
  border-bottom-left-radius: 11px;
  float: right;
  background: #fff url('../images/separador-calculadora.jpg') center right no-repeat;
}
.calculadora-right  > *{
  width: 445px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 13px;
  -moz-border-radius-bottomright: 13px;
  border-bottom-right-radius: 13px;
}
.monto-wrapper,
.plazo-wrapper {
  margin-left: 42px;
  margin-right: 34px;
  margin-bottom: 45px;
}
.monto-wrapper {
  margin-top: 75px;
}
.tir-wrapper{
  margin-top: 42px;
}
.tir-wrapper,
.flujomes-wrapper,
.retorno-wrapper,
.totalcapitalinteres-wrapper{
  margin-left: 70px;
  margin-right: 107px;
  margin-bottom: 15px;
}
.calculadora-right form > * {

}
.text-green {
  border: solid 3px #86d290;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 82px;
  padding: 15px 21px 15px 17px;
}
.calculadora-wrapper .calculadora-right .text-green label{
font-family: 'ralewayextrabold';
}
