@import url('../webfont/stylesheet.css');

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'ralewayregular';
    font-weight: normal;
}
h1, h3, h4, h5, h6{
    font-family: 'ralewayextrabold';
}
h2 {
    font-family: 'ralewayregular';
    font-weight: 500;
}

body {
    font-weight: 600;
}
strong{
    font-family: 'ralewaybold';
    font-weight: normal;
}
.lead {
    font-size: 18px;
    font-weight: 200;
}

p {
    color: #656565;
    font-weight: 400;
}

.no-padding {
    padding: 0px;
    !important;
}

.body {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Header */

.navbar-default {
    background: none;
    border: none;
    border-radius: 0px;
}

.header {
    padding: 40px 0;
    margin-bottom: 5px;
    z-index: 10000;
}

.logo i {
    color: #fff;
    font-size: 22px;
    margin-right: 3px;
    top: -0px;
    position: relative;
}

.logo {
    color: #fff !important;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
}

.logo span {
    display: block;
    padding-left: 36px;
}

/* top content */

.intro {
    padding-top: 0px;
    padding-bottom: 70px;
    box-shadow: 0px !important;
    background: #000 url('../images/bg_top.png') top center no-repeat;
    center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
}

.header-nav {
    float: right;
    padding: 0px;
    margin-bottom: 0px;
}

.header-nav > li {
    float: left;
    margin-left: 5px;
    list-style: none;
}

.header-nav > li > a {
    color: #fff;
    font-family: 'ralewaybold';
    font-size: 19px;
    text-shadow: 2px 2px 1px rgba(91, 91, 91, 1);
}
.flexslider .slides > li {
    background: url('../images/bg_calltoaction.png') top left no-repeat;
    padding: 12% 6% 8% 9%;
    color: white;
    height: 473px;
}
.flexslider .slides > li h1 {
    margin: 0;
    margin-bottom: 5%;
    letter-spacing: -1px;
}
body {
    display: none;
}
.flexslider .slides li h1 {
    display: none;
}
.purchase a {
    background: transparent;
    color: #fff;
    border-radius: 4px;
    margin-left: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 13px !important;
    border: 1px solid #fff;
}

.purchase a:hover {
    color : #eb4b01;
    background:#fff;
}

.main-slider {
    margin-top: 30px;
}
.fa-contact {
    background: url('../images/icon-contact.jpg') no-repeat center center;
}
.autorizacion > * {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
}
.order-wrap {
    position: relative;
    padding: 0px;
    background: #fff;
    display: table;
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 4px solid #b83b01;
}

.order-wrap form {
    padding: 4px 25px 10px;
}

.order-wrap > h2 {
    font-size: 24px;
    font-family: 'ralewayextrabold';
    text-transform: uppercase;
    color: #222;
    display: table;
    margin: 30px auto 25px;
}

.order-wrap > h2 i {
    font-size: 12px;
    border: 2px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: -16px 0 0;
    position: relative;
    top: -5px;
    margin-bottom: -15px;
}

.apply-form label {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    line-height: 40px;
}
#autorizo {
    margin-right: 5px;
    margin-bottom: 0;
}


.apply-form input , .apply-form select {
    color: #777 !important;
    height: 40px;
    padding: 10px 15px;
    border: 1px solid #ccc;
	margin-bottom:20px;
	margin-top:0px;
}

.apply-form textarea {
    color: #000 !important;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

input::-webkit-input-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}

input:-moz-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}

input::-moz-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}

input:-ms-input-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}

textarea::-webkit-input-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}

textarea:-moz-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}

textarea::-moz-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}

textarea:-ms-input-placeholder {
    color: #777 !important;
    opacity: 1 !important;
}


/* Welcome content */

.welcome {
    padding: 50px 0 15px;
}

.welcome h2 {
    font-size: 35px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

/* Services content */

.services {
    padding: 50px 0 80px;
}

.services h4 {
    font-size: 17px;
    margin: 25px 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.services p {
    font-size: 15px;
    line-height: 21px;
    color: #666;
}

.service-item {
    margin-bottom: 15px;
    background: #fff;
}

.line {
    height: 1px;
    width: 250px;
    margin: 25px auto 40px;
    background: #000;
}
i.service-icon {
    color: #39b54a;
	width:100px;
	height:100px;
	line-height:100px;
    display: inline-block;
    font-size: 85px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}

.service-item:hover i.service-icon {
    font-size: 40px;
}

.service-item:hover h4 {
    color: #39b54a;
}

.service-item:hover {
    cursor: pointer;
}

/* Author content */

.author-content {
    text-align: center;
    padding: 45px 0;
    background: #4f8155 url('../images/bg-quienes.png') top left no-repeat;
    position: relative;
    height: 655px;
}
.author-content .icon-center i {
    color: white;
    border-color: #fff;
    font-size: 25px;
}
.author-content img {
    display: table;
    margin: 0 auto;
    margin-bottom: 2%;
}

.author-content img:hover {
    cursor:pointer;
    transform: rotate(-0deg);
    -ms-transform: rotate(-0deg); /* IE 9 */
    -webkit-transform: rotate(-0deg); /* Opera, Chrome, and Safari */;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.author-content h2, .author-content h3, .author-content p {
    color: #fff !important;
}

.icon-center i {
    border: 1px solid #000;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
}

.author-content h2 {
    font-size: 35px;
    margin: 35px 0 25px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 4%;
}

.author-content h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    display: table;
}

.author-content p {
    width: 81%;
    font-size: 19px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 2%;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    margin-right: 15px;
}

/* Screenshots content */

.quote-main {
    padding: 70px 0 40px;
}

.quote-main h2 {
    margin-bottom: 40px;
}

.blockquote-style {
    width: 100%;
}

.blockquote-style blockquote {
    background: #fff;
    padding: 15px 20px 20px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}

.blockquote-style blockquote p {
    font-size: 14px;
    color: #777;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    padding-left: 35px;
    font-family: 'Droid Serif', serif;
    font-style:italic;
}

.blockquote-style blockquote p:before {
    content: "\f10d";
    position: absolute;
    width: 45px;
    height: 100%;
    color: #000;
    left: -15px;
    top: 1px;
    font-size: 30px;
    text-align: center;
    font-family: 'FontAwesome';
    font-style: normal;
    color: #bbb;
}

.blockquote-style .mb-attribution {
    text-align: right;
    padding: 10px 80px 20px 20px;
    position: relative;
}

.blockquote-style .mb-thumb1 ,
.blockquote-style .mb-thumb2 ,
.blockquote-style .mb-thumb3 ,
.blockquote-style .mb-thumb4 ,
.blockquote-style .mb-thumb5 {
    display: block;
    width: 70px;
    height: 70px;
    border: 5px solid #fff;
    border-radius: 50%;
    background: url(../demo/quote/1.jpg) no-repeat center center;
    background-size: 100%;
    position: absolute;
    right: 10px;
    bottom: 5px;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,0.3),
        0 2px 3px rgba(0,0,0,0.4);
}

.blockquote-style .mb-thumb1 {
  background: url(../images/amorocho.png) no-repeat center center;
}
.blockquote-style .mb-thumb2 {
    background: url(../images/alpargatero.png) no-repeat center center;
    background-size: 100%;
}
.blockquote-style .mb-thumb3 {
  background: url(../images/guarin.png) no-repeat center center;
}

.blockquote-style .mb-thumb4 {
    background: url(../images/ramirez.png) no-repeat center center;
    background-size: 100%;
}

.blockquote-style .mb-thumb5 {
    background: url(../demo/quote/2.jpg) no-repeat center center;
    background-size: 100%;
}

.blockquote-style .mb-author {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin: 0px;
}

.blockquote-style cite {
    font-weight: 400;
    color: #555;
    text-transform: uppercase;
    font-size: 11px;
}

.blockquote-style cite:hover {
    color: #000;
}

/* Info content */


.info-content {
    padding: 40px 0 60px;
}

.info-content h2 {
    margin: 20px 0;
}

.info-content p {
    font-size: 15px;
    line-height: 26px;
}

/* Pricing content */

.pricing {
    padding: 50px 0;
    background: #39b54a url('../images/flechas_group.png') bottom center no-repeat;
    position: relative;
}

.price {
    font-size: 4em;
}

.pricing .label {
    position: relative;
    top: -2px;
    line-height: 0;
    padding: 3px 5px 2px;
    right: -2px;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.list-group-item {
    color: #757575;
    font-size: 14px;
}

.list-group .btn {
    background: #39b54a !important;
    border-color: #0fa285;
}

.list-group .btn:hover {
    background: #0fa285 !important;
}

.panel-default {
    border-color: #ccc;
    padding: 15px 0;
}

.panel-body {
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    color: #555;
}

/* FAQ section */

.faq-wrap {
    padding: 20px 0;
}

.faq-content {
    padding: 70px 0 80px;
}

.faq-content .panel-title {
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    padding: 0px;
    margin: 0px;
}

.faq-content .panel-title:hover {
    color: #39b54a;
}

.faq-content .panel-default {
    border-color: #CCC;
    padding: 9px 0px;
}

.faq-wrap h3 {
    font-weight: 700;
    text-transform: none;
    margin: 0 0 5px;
}

.faq-wrap p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 7px;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Newsletter */

.newsletter-form {
    display: table;
    float: right;
}

.newsletter {
    color: #766f34;
    background: #fffeb1;
    padding: 40px 0 55px;
}

.newsletter input {
    border: none;
    background: #fff;
    height: 41px;
    border-radius: 5px;
    padding: 0px 15px;
    font-weight: 600;
    position: relative;
    top: 2px;
}
.newsletter h3 {
  font-weight: 500;
  background: url('../images/buzon.png') top left no-repeat;
  min-height: 73px;
  padding-left: 120px;
  padding-top: 10px;
}
.newsletter .btn {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 25px 8px;
    background: #2980b9;
}

.newsletter i {
    margin-right: 5px;
}

/* Clients content */

.clients {
    padding: 80px 0;
}

.img-client {
    border: 1px solid #fff;
    border-radius: 3px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.img-client:hover {
    border: 1px solid #bbb;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* Contact Info */

.contact-info {
    padding: 0px;
}

.contact-info li {
    list-style: none;
    float: left;
    width: 33.3333%;
    padding: 0 20px;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
}

.contact-info li i {
    color: #fff;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 58px;
    text-align: center;
    font-size: 25px;
    display: table;
    margin: 0 auto 20px;
}

.cinfo {
    padding: 60px 0;
    color: #fff;
    background: #5a9e03;
    position: relative;
    padding-bottom: 0;
}
.cinfo a{
    color: white;

}
.cinfo a:hover{
    text-decoration: underline;
}
.cinfo ul {
    margin-bottom: 0;
}

.cinfo-social-buttons {
    margin-top: 0;
}

.cinfo-social-buttons .btn {
    border: 2px solid #444;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
    padding: 0px;
    line-height: 56px;
    background: transparent;
    color: #444;
}

.cinfo-social-buttons .btn:hover {
    color: #39b54a;
    border: 2px solid #39b54a;
}
.cinfo-social-buttons li {
    margin-right: 10px;
}

/* Footer */

footer .list-inline {
    display: table;
    margin: 0 auto;
}

footer {
    background-color: #5a9e03;
    padding: 25px 0 50px;
    padding-top: 0;
}

p.copyright {
    margin: 50px 0 0;
    color: #fff;
}

/* Extras */

.btn1 {
    margin: 25px 0 0px;
    color: #fff;
    font-size: 15px;
    padding: 13px 30px 11px;
    background: #de0202;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px solid #aaa;
    text-transform: uppercase;
    font-family: 'ralewayextrabold';
    min-width: 180px;
    text-align: center;
}

.btn1:hover {
    /*
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  */
  background: #8bc541;
}

.btn2 {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px 8px;
    background: #39b54a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px solid #16a085;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 150px;
    text-align: center;
}

.btn2:hover {
    background: #18b193;
    color:#fff;
}

.btn-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.btn3 {
    color: #fff;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #2980b9;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background: #298acb !important;
}

.btn3:hover {
    background: #2980b9 !important;
    color:#fff;
}

    #loading, #success{display: none}

    #loading, #success{
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    vertical-align: middle;
    margin: auto 30px;
	background:#000;
	background:rgba(0,0,0,0.6);
	border-radius:15px;
	color:#fff;
line-height:150px;
text-align:center;
font-size:18px;
font-weight:300;
}

#loading span , #success span {
display: inline-block;
  vertical-align: middle;
  line-height: 22px;
font-size:18px;
font-weight:300;
}

#result {
    display: table;
    width: 100%;
    font-weight: 300;
    font-size: 12px;
text-transform:uppercase;
    margin-bottom: -35px;
    display: table;
    color: !important black;
}


@media (max-width: 767px) {

.container {
    max-width: 420px;
    width: 420px;
    margin: 0 auto;
}

.logo {
    display: table;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.header-nav {
    float: none;
}

.header-nav > li {
    float: none;
    display: table;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
}

.purchase a {
    margin-left: 0px;
    margin-top: 15px !important;
    display: table;
}

.header {
    padding: 20px 0;
    margin-bottom: 10px;
    z-index: 10000;
}

.order-wrap > h2 {
    font-size: 20px;
}

.order-wrap > h2 i {
    font-size: 12px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: -0px 0 0;
    position: relative;
    top: -2px;
    margin-bottom: -15px;
}

.welcome h2 {
    font-size: 26px;
    line-height: 30px;
}

.line {
    width: 60%;
}

.service-item {
    margin-top: 20px;
}

.video-wrap .video {
    margin-top: 30px;
}

.newsletter input {
    width: 100%;
    margin: 15px 0 0;
}

.newsletter .btn {
    width: 100%;
    margin: 10px 0 0;
}

.contact-info li {
    width: 100%;
    margin: 15px 0;
}

.order-wrap {
    width: 100%;
}

.newsletter-form {
    display: table;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
}

.newsletter h3 {
    text-align: center;
}

#result {
    margin-bottom: 0px;
    margin-top: 10px;
}

}

@media (max-width: 421px) {

.container {
    max-width: 280px;
    width: 280px;
    margin: 0 auto;
}

}

@media only screen and (min-width: 768px) and (max-width: 959px) {


.apply-form input, .apply-form textarea {
    font-size: 12px !important;
}

.order-wrap > h2 {
    font-size: 20px;
}

.order-wrap > h2 i {
    font-size: 12px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: -0px 0 0;
    position: relative;
    top: -2px;
    margin-bottom: -15px;
}

.order-wrap {
    margin-top: 0px;
}

.newsletter h3 {
    margin: 10px 0px;
}

}

@media only screen and (min-width: 960px) and (max-width: 1050px) {

.container {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 auto;
}

}

@media only screen and (min-width: 1051px) and (max-width: 1200px) {
    .order-wrap > h2{
        font-size: 20px;
        padding: 0px 15px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1050px) {
    .order-wrap > h2{
        font-size: 18px;
        padding: 0px 15px;
    }
    .flexslider li h2{
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    .order-wrap > h2{
        font-size: 15px;
        padding: 0px 15px;
    }
    .flexslider li h2{
        font-size: 25px !important;
    }    
}

@media only screen and (min-width: 422px) and (max-width: 767px) {
    .flexslider li h2{
        font-size: 25px !important;
    }   
}
@media only screen and (min-width: 0px) and (max-width: 421px) {
    .flexslider li h2{    
        font-size: 20px !important;
        padding-right: 22%;
    }   
    .order-wrap > h2{
        font-size: 15px !important;
    }
    .flexslider .slides li p{
        padding-bottom: 0;
    }      
    .apply-form label{
        font-size: 12px;
    }
    .pricing .calculadora-left,
    .pricing .calculadora-right{
        margin: 0;
        padding: 0;
    }

    .pricing .calculadora-left > *,
    .pricing .calculadora-right > *{
        width: inherit;
        float: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .pricing .tir-wrapper, 
    .pricing .flujomes-wrapper, 
    .pricing .retorno-wrapper, 
    .pricing .totalcapitalinteres-wrapper{
        margin-left: 42px;
        margin-right: 34px;
        margin-bottom: 45px;
    }   
    .author-content .container,
    .author-content .container .row > div{
        padding: 0;
    }
    .author-content p{
        padding: 0;
        width: 100%;
        font-size: 16px;
        line-height: 24px;        
    }
    .faq-content img{
        width: 100%;
    }
    .intro .top-wrap > div{
        margin-bottom: 6%;
    }
    .intro .container{
        padding: 0;
    }
    .flexslider .slides > li{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;        
    }
    .intro .flexslider .slides li p{
        margin-bottom: 30px;
    }
    .quote-main .owl-prev{
        left: -8%;
    }
    .quote-main .owl-next{
        right: -8%;
        left: initial;
    }    
}
.mail-header{
    margin-right: 30px !important;
}
.calculadora-wrapper .apply-form input {
    font-size: 120%;
    color: #000 !important;
    font-family: 'ralewaybold' !important;
}
.hn{
    display: none;
}